<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatApp.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>ユーザー1</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value>mail@example.com</value>
            </setting>
            <setting name="ChatHistoryFilePaths" serializeAs="String">
                <value>C:\Temp\Chat.xml;C:\Temp\Chat2.xml;C:\Temp\Chat3.xml;C:\Temp\Chat3.xml</value>
            </setting>
        </ChatApp.Properties.Settings>
    </userSettings>
</configuration>